Repository Hero64/lafken: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm biome format --write, pnpm biome lint --write

chore: ignore .npmrc
  .gitignore
Due: none

chore: chore types field for exports
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/common/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/schedule/src/main/schedule/schedule.spec.ts
  packages/state-machine/package.json
  pnpm-lock.yaml
  turbo.json
Due: pnpm biome format --write, pnpm biome lint --write

fix: update EventRuleResolver constructor to handle props correctly
  packages/bucket/src/index.ts
  packages/event/src/resolver/resolver.ts
Due: pnpm biome format --write, pnpm biome lint --write

docs: add README files
  packages/bucket/README.md
  packages/event/README.md
Due: pnpm biome format --write

feat: add rolldown bundle support
  configs/tsconfig.base.json
  packages/resolver/package.json
  packages/resolver/src/resources/lambda/asset/asset.spec.ts
  packages/resolver/src/resources/lambda/asset/asset.ts
  packages/resolver/src/resources/lambda/build-plugin/build-plugin.spec.ts
  packages/resolver/src/resources/lambda/build-plugin/build-plugin.ts
  packages/resolver/tsconfig.json
  pnpm-lock.yaml
Due: pnpm biome format --write, pnpm biome lint --write

docs: add readme
  packages/dynamo/README.md
Due: pnpm biome format --write

chore: add licence
  LICENCE
Due: none

feat(docs): enhance README
  README.md
  packages/resolver/README.md
Due: pnpm biome format --write

chore: lint files and sort import
  .lintstagedrc
  biome.json
  packages/api/src/main/authorizer/autorizer.spec.ts
  packages/api/src/resolver/rest-api/factories/method/helpers/param/param.spec.ts
  packages/bucket/src/service/repository/repository.spec.ts
  packages/common/src/decorators/index.ts
  packages/common/src/utils/index.ts
  packages/event/src/main/index.ts
  packages/queue/src/main/index.ts
  packages/queue/src/service/commands/send-message-batch/send-message-batch.spec.ts
  packages/queue/src/service/commands/send-message/send-message.spec.ts
  packages/queue/src/service/commands/send-message/send-message.ts
  packages/queue/src/service/index.ts
  packages/state-machine/src/main/index.ts
Due: pnpm biome format --write, pnpm biome lint --write

fix: add aws provider to app stack
  packages/main/src/app/app.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat(state-machine): role handling and add bucket permissions management
  packages/state-machine/src/resolver/resolver.ts
  packages/state-machine/src/resolver/state-machine/schema/schema.ts
  packages/state-machine/src/resolver/state-machine/schema/schema.types.ts
  packages/state-machine/src/resolver/state-machine/state-machine.spec.ts
  packages/state-machine/src/resolver/state-machine/state-machine.ts
  packages/state-machine/src/resolver/state-machine/state-machine.types.ts
Due: pnpm biome format --write, pnpm biome lint --write

fix(state-machine): fix service arguments and output
  packages/state-machine/src/resolver/state-machine/schema/schema.ts
Due: pnpm biome format --write, pnpm biome lint --write

fix: change test with validation output
  packages/state-machine/src/resolver/state-machine/state-machine.spec.ts
Due: pnpm biome format --write, pnpm biome lint --write

chore: add description and package keywords
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/common/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
Due: pnpm biome format --write

chore: update packages to version 0.6.2
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/bucket/CHANGELOG.md
  packages/bucket/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/dynamo/CHANGELOG.md
  packages/dynamo/package.json
  packages/event/CHANGELOG.md
  packages/event/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/queue/CHANGELOG.md
  packages/queue/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/state-machine/CHANGELOG.md
  packages/state-machine/package.json
Due: pnpm biome format --write

chore: update all packages to version 0.6.3
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/bucket/CHANGELOG.md
  packages/bucket/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/dynamo/CHANGELOG.md
  packages/dynamo/package.json
  packages/event/CHANGELOG.md
  packages/event/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/queue/CHANGELOG.md
  packages/queue/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/state-machine/CHANGELOG.md
  packages/state-machine/package.json
Due: pnpm biome format --write

fix(state-machine): fix payload schema generator
  packages/state-machine/src/resolver/state-machine/schema/schema.ts
  packages/state-machine/src/resolver/state-machine/state-machine.spec.ts
Due: pnpm biome format --write, pnpm biome lint --write

chore: update all packages to version 0.6.4
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/bucket/CHANGELOG.md
  packages/bucket/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/dynamo/CHANGELOG.md
  packages/dynamo/package.json
  packages/event/CHANGELOG.md
  packages/event/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/queue/CHANGELOG.md
  packages/queue/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/state-machine/CHANGELOG.md
  packages/state-machine/package.json
Due: pnpm biome format --write

chore: update readme
  README.md
Due: pnpm biome format --write

chore: add copilot instructions
  .github/copilot-instructions.md
Due: pnpm biome format --write

fix(auth): correct provider naming and method references
  packages/auth/src/resolver/auth/user-pool/identity-provider/identity-provider.ts
Due: pnpm biome format --write, pnpm biome lint --write

chore: improve package json attributes
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/common/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
Due: pnpm biome format --write

chore: add GitHub configuration files including issue templates, workflows, and contributing guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/README.md
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: pnpm biome format --write

docs: update README
  README.md
Due: pnpm biome format --write

fix: delete readme in .github
  .github/README.md
Due: pnpm biome format --write

fix: remove coverage
  .github/workflows/test.yml
Due: none

fix: remove lint workflow
  .github/workflows/lint.yml
Due: none

chore: add path ignore in test workflow
  .github/workflows/test.yml
Due: none

chore: update dependencies
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
  pnpm-lock.yaml
Due: pnpm biome format --write

fix: add moduleNameMapper to jest configuration for common and dynamo packages
  packages/common/jest.config.ts
  packages/dynamo/jest.config.ts
Due: pnpm biome format --write, pnpm biome lint --write

fix: remove build step from test workflow
  .github/workflows/test.yml
Due: none

feat: migrate dependenci cdktf to cdktn
  packages/api/package.json
  packages/auth/package.json
  packages/bucket/package.json
  packages/dynamo/package.json
  packages/event/package.json
  packages/main/package.json
  packages/queue/package.json
  packages/resolver/package.json
  packages/schedule/package.json
  packages/state-machine/package.json
  pnpm-lock.yaml
Due: pnpm biome format --write

fix: change output path
  packages/main/src/app/app.spec.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: update docs
  .github/copilot-instructions.md
  README.md
  packages/api/README.md
  packages/main/package.json
Due: pnpm biome format --write

fix: rolldown split property
  apps/example/package.json
  packages/resolver/src/resources/lambda/asset/asset.ts
Due: pnpm biome format --write, pnpm biome lint --write

feat: update app example packages
  pnpm-lock.yaml
Due: none

chore: release version 0.7.0
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/bucket/CHANGELOG.md
  packages/bucket/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/dynamo/CHANGELOG.md
  packages/dynamo/package.json
  packages/event/CHANGELOG.md
  packages/event/package.json
  packages/main/CHANGELOG.md
  packages/main/package.json
  packages/queue/CHANGELOG.md
  packages/queue/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/schedule/CHANGELOG.md
  packages/schedule/package.json
  packages/state-machine/CHANGELOG.md
  packages/state-machine/package.json
Due: pnpm biome format --write

refactor(bucket): migrate jest to vitest
  packages/bucket/package.json
  packages/bucket/src/main/bucket/bucket.spec.ts
  packages/bucket/src/resolver/bucket/bucket.spec.ts
  packages/bucket/src/service/repository/repository.spec.ts
  packages/bucket/tsconfig.json
  packages/bucket/vitest.config.ts
  packages/bucket/vitest.setup.ts
Due: pnpm biome format --write, pnpm biome lint --write

refactor(state-machine): migrate jest to vitest
  packages/state-machine/jest.config.ts
  packages/state-machine/jest.setup.ts
  packages/state-machine/package.json
  packages/state-machine/src/main/param/param.spec.ts
  packages/state-machine/src/main/state-machine/state-machine.spec.ts
  packages/state-machine/src/resolver/state-machine/state-machine.spec.ts
  packages/state-machine/tsconfig.json
  packages/state-machine/vitest.config.ts
  packages/state-machine/vitest.setup.ts
Due: pnpm biome format --write, pnpm biome lint --write

Path conditions:
  pnpm biome format --write: any of: *.{ts,tsx,js,jsx,json,md}
  pnpm biome lint --write: any of: *.{ts,tsx,js,jsx}
